@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-dark-grey: #333;
$secondary-light-grey: #999;
$pitch-black: #000;
$white: #fff;
$border-light-grey: #e6e6e6;
$box-shadow:
  0 10px 20px rgba(0, 0, 0, 0.1),
  0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark-grey;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

a {
  text-decoration: none;
  color: $pitch-black;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.container {
  background-color: $secondary-light-grey;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 5px 20px;
  text-align: center;
  width: 90vw;
  height: 90vh;
}

img {
  width: 100px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-light-grey;
  margin-bottom: 30px;

  .logo {
    img {
      width: 100px;
    }

    a:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav ul li {
    margin-left: 20px;
    list-style-type: none;
  }

  nav ul li a {
    display: flex;
    align-items: center;
  }

  nav ul li a:hover {
    color: blue;
    text-decoration: underline;
  }

  nav ul li a svg {
    margin-right: 5px;
  }
}

.heading {
  h2 {
    margin-bottom: 10px;
  }

  p {
    color: $primary-dark-grey;
  }
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;

  input,
  textarea,
  select {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }

  label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: $pitch-black;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 8px;
  }

  &:hover {
    transform: scale(1.01);
    background: rgba(11, 11, 213, 0.882);
  }
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

.btn-subtitle {
  font-size: 15px;
  margin-top: -15px;

  a {
    color: blue;
  }

  a:hover {
    text-decoration: underline;
  }
}
